<div class="modal-dialog modal-dialog-scrollable my-0">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalScrollableTitle">Stored Comments</h1>
            <button type="button" class="btn-close" (click)="activeModal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body vh-60">
            <p>This is some placeholder content to show the scrolling behavior for modals. We use repeated line breaks
                to demonstrate how content can exceed minimum inner height, thereby showing inner scrolling. When
                content becomes longer than the predefined max-height of modal, content will be cropped and scrollable
                within the modal.</p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p>This content should appear at the bottom after you scroll.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Close</button>
        </div>
    </div>
</div>