<div class="modal-dialog modal-dialog-scrollable my-0">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalScrollableTitle">Add comment to feature {{comment.feature_id}}</h1>
            <button type="button" class="btn-close" (click)="activeModal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body vh-60 p-5">
            <div>
                <div>
                    <label for="name">Message: </label>
                    <input id="name" type="text" [formControl]="message">
                </div>
                <div *ngIf="message.invalid && (message.dirty || message.touched)"class="alert alert-danger">
                    <div *ngIf="message.errors?.['required']">Message is required.</div>
                    <div *ngIf="message.errors?.['minlength']">
                        Message must be at least 4 characters long.
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="btn-primary" (click)="this.createComment()">Create</button>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Close</button>
        </div>
    </div>
</div>