.invisible-scroll {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.invisible-scroll::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.vh-80 {
    height: 80vh !important;
}